<section class="bg-[#3e3e3f]">
    <div class="max-w-6xl m-auto ">
      <!-- <div class="pt-2">
        <span>Trang chủ</span>
        <span>></span>
        <span>Iphone</span>
      </div> -->

      <div class="text-center p-4 text-3xl font-semibold">
        <h1 class="text-white">Iphone</h1>
      </div>

      <div>
        <img class="w-full rounded-3xl	" src="img/ipPC6.png" alt="">
      </div>

      <div class="py-4 flex"> 
        <ul class="flex">
          <li class="mr-4"><a class="text-white underline underline-offset-[12px]" href="">Tất Cả</a></li>
          <li class="mr-4"><a class="text-white/75 hover:underline hover:underline-offset-[12px] hover:text-white" href="">Iphone 14</a></li>
          <li class="mr-4"><a class="text-white/75 hover:underline hover:underline-offset-[12px] hover:text-white" href="">Iphone 13</a></li>
          <li class="mr-4"><a class="text-white/75 hover:underline hover:underline-offset-[12px] hover:text-white" href="">Iphone 12</a></li>
        </ul>
      </div>

      <div class="flex justify-end mb-3">
        <a class="text-white" href="">Xếp theo: </a> <span class="text-white"> Mới ra mắt</span>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="p-4 bg-[#323232] rounded-3xl hover:drop-shadow-xl text-center">
          <a class="text-center" href="product-detail.html">
            <img class="py-2 m-auto" src="img/ip1.png" alt="">
            <h1 class="py-2 font-semibold text-white">Iphone 14 Pro Max</h3>
            <span class="text-white font-semibold">10.000.000</span>
            <span class="font-medium text-white line-through">11.000.000</span>
          </a>
        </div>

      </div>

    </div>
</section>