<section class="flex items-center bg-gray-100 lg:h-screen dark:bg-gray-800">
    <div class="p-4 mx-auto max-w-7xl">
        <div class="grid grid-cols-1 gap-4 lg:gap-8 sm:gap-4 sm:grid-cols-2 lg:grid-cols-3">
            <div class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700">
                <div class="relative overflow-hidden h-72">
                    <span class="absolute px-3 py-1 text-xs text-white bg-blue-500 rounded bottom-3 right-3">
                        Gadgets
                    </span>
                    <img class="object-cover w-full h-full transition-all hover:scale-110"
                        src="https://shopdunk.com/images/uploaded/LOANNN/ipad-pro-m1-129-inch-wifi-cellular-512gb-2-Copy-1.jpg" alt="">
                </div>
                <div class="relative z-20 p-8 -mt-16 ">
                    <div class="flex items-center">
                        <img class="object-cover w-20 h-20 mb-4 border-4 border-white rounded-full dark:border-gray-700"
                            src="https://images.pexels.com/photos/139829/pexels-photo-139829.jpeg?cs=srgb&amp;dl=pexels-thorn-yang-139829.jpg&amp;fm=jpg"
                            alt="">
                        <div class="flex flex-col items-center ml-2">
                            <span
                                class="block mt-3 mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300">
                                John Doe • 6th Jun, 2022
                            </span>
                        </div>
                    </div>
                    <h2 class="mb-3 text-2xl font-bold leading-9 text-blue-800 dark:text-white">
                        Combo tốc chiến "iPad Pro M1 12.9 inch Wi-Fi Cellular 512GB + Apple Pencil 2" phù hợp với ai?
                    </h2>
                    <p class="mb-4 text-base leading-7 text-gray-400">
                        Nếu bạn là sinh viên, nhân viên văn phòng và yêu thích việc ghi chú tài liệu, viết, vẽ tay,... thì không nên bỏ qua Combo này. iPad Pro M1 cho trải nghiệm vẽ cực kỳ tuyệt vời, nhạy bén, mượt mà khi dùng Apple Pencil 2 trên màn hình 12.9 inch.
                    </p>
                    <a class="flex items-center text-sm font-semibold" href="#">
                        <div class="flex items-center px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">
                            More Details
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                class="ml-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700">
                <div class="relative overflow-hidden h-72">
                    <span class="absolute px-3 py-1 text-xs text-white bg-blue-500 rounded bottom-3 right-3">
                        Architect
                    </span>
                    <img class="object-cover w-full h-full transition-all hover:scale-110"
                        src="https://shopdunk.com/images/uploaded/150.%20so%20s%C3%A1nh%20iphone%2014%20plus%20v%C3%A0%2014%20pro%20max/2-iphone-14-pro-max-mang-den-cho-nguoi-dung-trai-nghiem-nhin-lien-mach.png" alt="">
                </div>
                <div class="relative z-20 p-8 -mt-16 ">
                    <div class="flex items-center">
                        <img class="object-cover w-20 h-20 mb-4 border-4 border-white rounded-full dark:border-gray-700"
                            src="https://images.pexels.com/photos/139829/pexels-photo-139829.jpeg?cs=srgb&amp;dl=pexels-thorn-yang-139829.jpg&amp;fm=jpg"
                            alt="">
                        <div class="flex flex-col items-center ml-2">
                            <span
                                class="block mt-3 mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300">
                                John Doe • 6th Jun, 2022
                            </span>
                        </div>
                    </div>
                    <h2 class="mb-3 text-2xl font-bold leading-9 text-blue-800 dark:text-white">
                        Thiết kế iPhone 14 Pro Max mới mẻ hơn iPhone 14 Plus
                    </h2>
                    <p class="mb-4 text-base leading-7 text-gray-400">
                        Nhìn chung, tổng thể bên ngoài iPhone 14 Plus và iPhone 14 Pro Max có thiết kế giống nhau với khung viền vuông kết hợp với các nét bo cạnh mềm mại. Tuy nhiên, nếu mẫu iPhone 14 Pro Max sử dụng thép không gỉ làm khung viền thì iPhone 14 Plus vẫn sử dụng khung nhôm
                    </p>
                    <a class="flex items-center text-sm font-semibold" href="#">
                        <div class="flex items-center px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">
                            More Details
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                class="ml-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700">
                <div class="relative overflow-hidden h-72">
                    <span class="absolute px-3 py-1 text-xs text-white bg-blue-500 rounded bottom-3 right-3">
                        Business
                    </span>
                    <img class="object-cover w-full h-full transition-all hover:scale-110"
                        src="https://shopdunk.com/images/uploaded/macbook-pro-14-inch-m2-max-review/xu-ly-do-hoa.jpg" alt="">
                </div>
                <div class="relative z-20 p-8 -mt-16 ">
                    <div class="flex items-center">
                        <img class="object-cover w-20 h-20 mb-4 border-4 border-white rounded-full dark:border-gray-700"
                            src="https://images.pexels.com/photos/139829/pexels-photo-139829.jpeg?cs=srgb&amp;dl=pexels-thorn-yang-139829.jpg&amp;fm=jpg"
                            alt="">
                        <div class="flex flex-col items-center ml-2">
                            <span
                                class="block mt-3 mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300">
                                John Doe • 6th Jun, 2022
                            </span>
                        </div>
                    </div>
                    <h2 class="mb-3 text-2xl font-bold leading-9 text-blue-800 dark:text-white">
                        Review MacBook Pro 14 inch M2 Max dưới trải nghiệm của nhiều chuyên gia
                    </h2>
                    <p class="mb-4 text-base leading-7 text-gray-400">
                        Trong một bài test đồ họa của kênh youtube , với 38 nhân GPU thì MacBook Pro 14 inch M2 Max cũng đã đạt một kết quả ấn tượng. Cụ thể, khi Aztec Ruins ở mức đồ hoạ cao thì chiếc máy này đã đạt 347 FPS
                    </p>
                    <a class="flex items-center text-sm font-semibold" href="#">
                        <div class="flex items-center px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">
                            More Details
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                class="ml-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>