<mat-card>
    <mat-card-header>
        <h1>Đăng nhập</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            <mat-card>
                <mat-form-field>
                    <mat-label>Tên đăng nhập</mat-label>
                    <input matInput type="text" formControlName="username">
                </mat-form-field>
            </mat-card>

            <mat-card>
                <mat-form-field>
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </mat-card>

            <div class="flex gap-2 mt-4">
                <button mat-raised-button color="primary" type="submit">Đăng nhập</button>
                <button mat-raised-button color="accent" type="button"><a routerLink="/admin/register"
                        class="text-white">Đăng
                        ký</a></button>
            </div>

        </form>
    </mat-card-content>
</mat-card>