
<div class="container max-w-full mx-auto bg-[#333333]">
    <div class="max-w-full mx-auto">
        <section class="header bg-black">
            <div
              class="flex justify-between max-w-6xl mx-auto bg-black space-x-2 p-10"
            >
              <div class="logo topzone-logo"></div>
              <div class="menu text-white">
                <ul class="flex items-center gap-10 font-mono text-[18px] ">
                  <li class="hover:text-gray-500">
                    <a
                      class="flex justify-between w-20 text-center hover:text-white text-white"
                      href=""
                    >
                      Iphone
                    </a>
                  </li>
                  <li class="hover:text-gray-500">
                    <a
                      class="flex justify-between w-20 text-center hover:text-white text-white"
                      href=""
                    >
                      Mac
                    </a>
                  </li>
                  <li class="hover:text-gray-500">
                    <a
                      class="flex justify-between w-20 text-center hover:text-white text-white"
                      href=""
                    >
                      Ipad
                    </a>
                  </li>
                  <li class="hover:text-gray-500">
                    <a
                      class="flex justify-between w-20 text-center hover:text-white text-white"
                      href=""
                    >
                      Âm Thanh
                    </a>
                  </li>
                  <li class="hover:text-gray-500">
                    <a
                      class="flex justify-between w-20 text-center hover:text-white text-white"
                      href=""
                    >
                      Phụ Kiện
                    </a>
                  </li>
                </ul>
              </div>
              <div class="flex space-x-3 items-center">
                <div class="search mr-5">
                  <a href=""
                    ><i
                      class="fa-solid fa-magnifying-glass fa-xl"
                      style="color: #edeff2"
                    ></i
                  ></a>
                </div>
                <div class="cart">
                  <a href="">
                    <i
                      class="fa-solid fa-cart-shopping fa-xl"
                      style="color: #fefefe"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="carousel w-full rounded-b-xl">
              <div id="slide1" class="carousel-item relative w-full">
                <img
                  src="../../assets/img/AW-S8-2880-800-1920x533 (1).webp"
                  class="w-full h-[400px]"
                />
                <div
                  class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
                >
                  <a href="#slide4" class="btn btn-circle">❮</a>
                  <a href="#slide2" class="btn btn-circle">❯</a>
                </div>
              </div>
              <div id="slide2" class="carousel-item relative w-full">
                <img
                  src="../../assets/img/MacBook-Air-M1-2880-800-1920x533-1.png"
                  class="w-full h-[400px]"
                />
                <div
                  class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
                >
                  <a href="#slide1" class="btn btn-circle">❮</a>
                  <a href="#slide3" class="btn btn-circle">❯</a>
                </div>
              </div>
              <div id="slide3" class="carousel-item relative w-full">
                <img
                  src="../../assets/img/ip14-AW-S8-2880-800-min-1920x533.png"
                  class="w-full h-[400px]"
                />
                <div
                  class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
                >
                  <a href="#slide2" class="btn btn-circle">❮</a>
                  <a href="#slide4" class="btn btn-circle">❯</a>
                </div>
              </div>
              <div id="slide4" class="carousel-item relative w-full">
                <img
                  src="../../assets/img/GTN-2880-800-1920x533-1.png"
                  class="w-full h-[400px]"
                />
                <div
                  class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
                >
                  <a href="#slide3" class="btn btn-circle">❮</a>
                  <a href="#slide1" class="btn btn-circle">❯</a>
                </div>
              </div>
            </div>
            <!-- <nz-carousel>
                          <div nz-carousel-content>
                            <img src="./img/z4084057787976_37c80b7853fbdf8373e6b0cc3157d964.jpg" alt="Slide 1">
                          </div>
                          <div nz-carousel-content>
                            <img src="./img/z4402931826298_d278b39100c23288914b98cf39881d13.jpg" alt="Slide 2">
                          </div>
                          <div nz-carousel-content>
                            <img src="./img/z4084057787976_37c80b7853fbdf8373e6b0cc3157d964.jpg" alt="Slide 3">
                          </div>
                        </nz-carousel> -->
          </section>
      
          <!-- end header -->

        
    <main>
      
      
    </main>

    <section class="bg-black my-10 py-20">
        <div class="footer flex items-center justify-center pb-5">
          <span class="block text-center text-white text-3xl font-black">Đăng Ký Nhận Tin từ Ông Thắng</span>
        </div>
        <div class="flex items-center justify-center">
          <input type="text" placeholder="You can't touch this" class="input input-bordered w-full max-w-xs" disabled />
          <button class="btn btn-active btn-secondary">Đăng Ký</button>
        </div>
        

  </section>
  <section class="footer-2 bg-[#333333] pt-10">
    <div class="footer flex items-center justify-center">
          <p class="block text-center text-white text-xl font-black">Liên Hệ Với 4 chiến thần team 3 tại đây nhé Bà Con</p>
          
      </div>
      <div class="flex space-x-10 justify-center py-4">
        <a href=""><i class="fa-brands fa-facebook fa-flip fa-2xl" style="color: #055bf0;"></i></a>
        <a href=""><i class="fa-brands fa-instagram fa-2xl" style="color: #c828c3;"></i></a>
        <a href=""><i class="fa-brands fa-instagram fa-2xl" style="color: #a0da1b;"></i></a>
      </div>
  </section>
  <!--  -->
      
  <section class="bg-black px-20 ">
    
      <hr class="border border-red-400 my-2 ">
    

      <div class="flex my-10 pb-10 justify-between pt-10">
        <div class="">
          <span class="text-white font-thin text-xl">Tổng Đài</span>
          <div class="flex space-x-2 text-white py-4">
            <span >Mua hàng :</span>
            <span class="text-blue-500">0948361838</span>
          </div>
          <div class="flex space-x-2 text-white ">
            <span >CSKH</span>
            <span class="text-blue-500">0988888888</span>
          </div>
         
        </div>
        <!-- end -->
          <div class="text-white">
            <p class="font-bold text-xl">Hệ thống cửa hàng</p>
            <p>Xem 100 cửa hàng</p>
            <p>Nội quy cửa hàng</p>
            <p>Chất lượng phục vụ</p>
            <p>Chính sách bảo hành</p>
          </div>
            <!-- end -->
            <div class="text-white">
              <p class="font-bold text-xl">Hỗ Trợ Khách Hàng</p>
              <p>Điều kiện giao dịch chung</p>
              <p>Hướng dẫn mua hàng online</p>
              <p>Chính sách giao hàng</p>
              <p>Hướng dẫn thanh toán</p>
            </div>
              <!-- end -->
              <div class="text-white">
                <p class="font-bold text-xl">Về thương hiệu TopZone</p>
                <p>Tính điểm quà tặng vip</p>
                <p>Giới thiệu TopZone</p>
                <p>Bán Hành doanh nghiệp</p>
                <p>Chính sách bảo mật thông tin</p>
                <p>Xem bản mobile</p>
              </div>

                <!-- end -->
                <div class="text-white">
                  <p class="font-bold text-xl">Trung tâm bảo hành TopCare</p>
                  <p>Giới thiệu TopCare</p>
  
                </div>
                
                  <!-- end -->
      </div>

  </section>

    </div>
</div>

